.profile-card {
  width:60%;
  max-width: 400px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  text-align: center;
}

.banner {
background-image: url("../assets/bg-pattern-card.svg");
background-repeat: no-repeat;
background-size: cover;
height: 150px;
border-radius: 15px 15px 0 0;
margin-bottom: -60px;
}

.profile-image {
  width: 120px;
  height: 120px;
  margin: 0 auto 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  padding: 3px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--white);
}

.profile-info {
padding: 20px;
}

.profile-age {
  padding: 0 10px;
}

.location {
  font-size: 14px;
  padding-top: 10px;
}

hr {
  color: var(--accent-color);
  opacity: 0.3;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px;
}

.stats-col {
  flex: 1;
}

.category {
  font-size: 12px;
  margin-top: 0;
  letter-spacing: 1px;
}


@media only screen and (max-width: 500px) {
  .profile-card {
    width: 300px
  }
}
